<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jessy</title>
    <link rel="stylesheet" href="../assets/css/jessy/styles_jessy.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <audio
            src="../musics/Mandy Moore  When Will My Life Begin From TangledSingAlong.mp3"
            controls
            loop
          ></audio>
        </li>
        <li>
          <a href="second.html">메인</a>
        </li>
        <li>
          <a href="woody.html">우디</a>
        </li>
        <li>
          <a href="rex.html">렉스</a>
        </li>
        <li>
          <a href="slinky.html">슬랭키</a>
        </li>
        <li>
          <a href="forky.html">포키</a>
        </li>
      </ul>
    </nav>
    <main class="container">
      <div class="ment">히-하!</div>
      <div class="ment">좋은 아침이야!</div>
      <div class="ment">뭐? 아직 잠이 덜 깼다구?</div>
      <div class="ment">얼른 일어나서 이 노래를 들어봐</div>
      <div class="ment">활기찬 아침이 시작될거야🌞</div>
      <div class="ment">From. 널 항상 기억할 제시</div>
    </main>
    <footer>
      <div class="contact">CONTACE ME</div>
      <form action="#" method="GET">
        <div class="data">
          <div class="bundle">
            <label for="name">Name</label>
            <input type="text" class="name" placeholder="Name" />
          </div>
          <div class="bundle">
            <label for="email">E-mail</label>
          </div>
          <input type="text" class="email" placeholder="E-mail" />
          <div class="bundle">
            <label for="message">Message</label>
          </div>
          <div class="message-container">
            <textarea
              class="message"
              name="message"
              type="text"
              placeholder="Message"
              rows="10"
            ></textarea>
          </div>
          <div class="send-container">
            <input class="send" value="SEND MESSAGE" type="submit" />
          </div>
        </div>
      </form>
      <div class="copyright">
        &copy; 2021. Toystory & https://m.blog.naver.com/yoooy_ all rights
        reserved.
      </div>
    </footer>
  </body>
</html>
