<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Character</title>
    <link rel="stylesheet" href="../assets/css/second/styles_second.css" />
  </head>
  <body>
    <header>
      <div class="logo">Song of Toy Story characters</div>
    </header>
    <main>
      <ul>
        <li class="account1">
          <a href="woody.html">
            <img alt="woody" src="../images/woody.png" />
            <div class="account_explain">
              Reach for the sky🦸‍♂️! 진중하지만 가볍고 슬프지만 밝은 노래를
              좋아해요.
            </div>
          </a>
        </li>
        <li class="account2">
          <a href="jessy.html">
            <img alt="jessy" src="../images/jessy.png" />
            <div class="account_explain">
              에너지 넘치는 카우걸!🙌🏼 활기찬 노래를 좋아해요!
            </div>
          </a>
        </li>
        <li class="account3">
          <a href="rex.html">
            <img alt="rex" src="../images/rex.png" />
            <div class="account_explain">
              보기와 다르게 내성적이고 겁도 많아요😥 잔잔한 클래식을 좋아해요.
            </div>
          </a>
        </li>
        <li class="account4">
          <a href="slinky.html">
            <img alt="dog" src="../images/dog.png" />
            <div class="account_explain">
              항상 기분이 좋아요! 노래도 신나는 노래만 들어요😆
            </div>
          </a>
        </li>
        <li class="account5">
          <a href="forky.html">
            <img alt="forky" src="../images/forky.png" />
            <div class="account_explain">
              There's only one Forky👻! 본인처럼 사랑스러운 노래를 좋아해요.
            </div>
          </a>
        </li>
      </ul>
    </main>
    <footer>
      <div class="copyright">
        &copy; 2021. summermong & yoo_y. all rights reserved.
      </div>
    </footer>
  </body>
</html>
