<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Woody</title>
    <link rel="stylesheet" href="../assets/css/woody/styles_woody.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <audio
            src="../musics/Youve Got a Friend in Me Korean.mp3"
            controls
            loop
          ></audio>
        </li>
        <li>
          <a href="second.html">메인</a>
        </li>
        <li>
          <a href="jessy.html">제시</a>
        </li>
        <li>
          <a href="rex.html">렉스</a>
        </li>
        <li>
          <a href="slinky.html">슬랭키</a>
        </li>
        <li>
          <a href="forky.html">포키</a>
        </li>
      </ul>
    </nav>
    <main class="container">
      <div class="ment">To. 파트너</div>
      <div class="ment">안녕 파트너!</div>
      <div class="ment">모험을 떠나기 전 이 노래를 들어봐</div>
      <div class="ment">너의 영원한 친구로서 따뜻한 하루를 만들어줄게</div>
      <div class="ment">
        "I’d like to join your posse, boys, but first I’m gonna sing a little
        song!"
      </div>
      <div class="ment">From. 너의 영원한 친구, 우디</div>
    </main>
    <footer>
      <div class="contact">CONTACE ME</div>
      <form action="#" method="GET">
        <div class="data">
          <div class="bundle">
            <label for="name">Name</label>
            <input type="text" class="name" placeholder="Name" />
          </div>
          <div class="bundle">
            <label for="email">E-mail</label>
          </div>
          <input type="text" class="email" placeholder="E-mail" />
          <div class="bundle">
            <label for="message">Message</label>
          </div>
          <div class="message-container">
            <textarea
              class="message"
              name="message"
              type="text"
              placeholder="Message"
              rows="10"
            ></textarea>
          </div>
          <div class="send-container">
            <input class="send" value="SEND MESSAGE" type="submit" />
          </div>
        </div>
      </form>
      <div class="copyright">
        &copy; 2021. Toystory & https://m.blog.naver.com/yoooy_ all rights
        reserved.
      </div>
    </footer>
  </body>
</html>
